{% extends 'core/inicio.html' %}

{% load static %}

{% block titulo %}
    <title>Relatórios</title>
{% endblock %}

{% block conteudo %}
    <div class="p-4" id="style_containers">
        <div class="card" id="card-processos">
            <div class="card-header text-white" style="background-color: #5c5c5c;">
                <div class="row">
                    <div class="col">
                        <a href="{% url 'processo-list' %}"><button type="button"  style="border-radius: 4px; background-color: #a19f9f; color: white;"><b>Voltar</b></button></a>
                    </div>
                    <div class="col">
                        <h4 style="text-align: right;">Relatórios</h4>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <div class="card" style="width: 500px; margin: 0 auto;">
                        <div class="card-header text-white" style="background-color: #5c5c5c;">
                            <h4 style="text-align: center;">Relatório de Processos</h4>
                        </div>
                        <br>        
                        <div class="row" style="margin: 0cm;">
                            <form method="get" action="{% url 'processos-por-status' %}" target="_blank">
                                <div class="col">
                                    <label for="exercicio_ini">Exercício</label>
                                    <input type="number" class="form-control" name="exercicio_ini" id="exercicio_ini" value="{{ request.GET.exercicio_ini }}" maxlength="4" style="padding: 2px;">
                                </div>
                                <br>
                                <div class="col">
                                    <label for="exercicio_fin">até</label>
                                    <input type="number" class="form-control" name="exercicio_fin" id="exercicio_fin" value="{{ request.GET.exercicio_fin }}" maxlength="4"2 style="padding: 2px;">
                                </div>
                                
                                <br>
                                <div class="row">
                                    <div class="col">
                                        <label for="executado">Executados</label>
                                        <input type="checkbox" name="executado" id="executado" checked>
                
                                    </div>
                                    <div class="col">
                                        <label for="recebido">Recebidos</label>
                                        <input type="checkbox" name="recebido" id="recebido" checked>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col">
                                        <label for="andamento">Andamento</label>
                                        <input type="checkbox" name="andamento" id="andamento" checked>
                                    </div>
                                    <div class="col">
                                        <label for="encerrado">Encerrados</label>
                                        <input type="checkbox" name="encerrado" id="encerrado" checked>                                
                                    </div>
                                </div>
                
                                <br>
                                <div class="col">
                                    <label for="colunas">Status: Em Andamento - Colunas (Data / Tipo Andamento)</label>
                                    <input type="checkbox" name="colunas" id="colunas" checked>
                                </div>
                                <br>
                                <div class="col">
                                    <label for="tipo">Tipo</label>
                                    <select name="tipo" id="tipo" class="form-control" style="padding: 2px;">
                                        <option value="">-------------------------------</option>
                                        {% for t in tipo %}
                                            <option value="{{ t.id }}" {% if t.id|stringformat:"s" == request.GET.t|stringformat:"s" %}selected{% endif %}>{{ t.tipo }}</option>
                                        {% endfor %}
                                    </select> 
                                </div>
                                <br>
                                <div class="col">
                                    <label for="municipio">Município</label>
                                    <select name="municipio" id="filtro_rel_1" class="form-control" style="padding: 2px;">
                                        <option value="">-------------------------------</option>
                                        {% for municipio in municipios %}
                                            <option value="{{ municipio.id }}" {% if municipio.id|stringformat:"s" == request.GET.municipio|stringformat:"s" %}selected{% endif %}>{{ municipio.nome }}</option>
                                        {% endfor %}
                                    </select> 
                                </div>
                                <br>
                                <div class="col">
                                    <button type="submit"  id="btnGerarRelatorio1" style="border-radius: 4px;"><b>Gerar</b></button>
                                </div>
                                <br>
                            </form>
                        </div>
                    </div>
                </div>
                <br>
                <div class="col">
                    <div class="card" style="width: 500px; margin: 0 auto;">
                        <div class="card-header text-white" style="background-color: #5c5c5c;">
                            <h4 style="text-align: center;">Relatório de Avaliações</h4>
                        </div>
                        <br>
                        <div class="row" style="margin: 0cm;">
                            <form method="get" action="{% url 'avaliacoes' %}" target="_blank">
                                <div class="col">
                                    <label for="municipio">Modelo</label>
                                    <select name="modelo" id="filtro_rel_1" class="form-control" style="padding: 2px;">
                                        <option value="">Avaliações com último andamento</option>
                                        <option value="1">Incremento de ITBI apurado</option>
                                        <option value="2">Incremento de ITBI pago</option>
                                    </select> 
                                </div>
                                <br>
                                <div class="col">
                                    <label for="andamento_avaliacao_tipo">Andamento</label>
                                    <select name="andamento_avaliacao_tipo" id="andamento_avaliacao_tipo" class="form-control" style="padding: 2px;">
                                        <option value="">---------</option>
                                        <option value="1">Avaliado</option>
                                        <option value="2">Análise</option>
                                        <option value="3">Reavaliado</option>
                                    </select> 
                                </div>
                                <br>
                                <div class="col">
                                    <label for="data_ini">Data da avaliação</label>
                                    <input type="date" class="form-control" name="data_ini" id="data_ini" value="{{ request.GET.data_ini }}" style="padding: 2px;">
                                </div>
                                <br>
                                <div class="col">
                                    <label for="data_fin">Até</label>
                                    <input type="date" class="form-control" name="data_fin" id="data_fin" value="{{ request.GET.data_fin }}" style="padding: 2px;">
                                </div>
                                <br>
                                <div class="col">
                                    <label for="municipio">Município</label>
                                    <select name="municipio2" id="filtro_rel_2" class="form-control" style="padding: 2px;">
                                        <option value="">-------------------------------</option>
                                        {% for municipio in municipios %}
                                            <option value="{{ municipio.id }}" {% if municipio.id|stringformat:"s" == request.GET.municipio|stringformat:"s" %}selected{% endif %}>{{ municipio.nome }}</option>
                                        {% endfor %}
                                    </select> 
                                </div>
                                <br>
                                <button type="submit"  id="btnGerarRelatorio2" style="border-radius: 4px;"><b>Gerar</b></button>
                            </form>
                            <br>
                        </div>
                        <br>
                    </div>
                </div>



                <div class="col">
                    <div class="card" style="width: 500px; margin: 0 auto;">
                        <div class="card-header text-white" style="background-color: #5c5c5c;">
                            <h4 style="text-align: center;">Relatório de gráficos - Mensal</h4>
                        </div>
                        <br>
                        <div class="row" style="margin: 0cm;">
                            <form method="get" action="{% url 'relatorio-grafico' %}" target="_blank">
                                <input type="text" id="municipio" >
                                <button type="submit"  id="btnGerarRelatorio2" style="border-radius: 4px;"><b>Gerar</b></button>
                            </form>
                            <br>
                        </div>
                        <br>
                    </div>
                </div>



            </div>
            <br>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var filtro_rel_1 = document.getElementById("filtro_rel_1");
            var btnGerarRelatorio1 = document.getElementById("btnGerarRelatorio1"); 

            var filtro_rel_2 = document.getElementById("filtro_rel_2");
            var btnGerarRelatorio2 = document.getElementById("btnGerarRelatorio2");

            function verificarFiltro1() {
                btnGerarRelatorio1.disabled = filtro_rel_1.value === "";
            }

            function verificarFiltro2() {
                btnGerarRelatorio2.disabled = filtro_rel_2.value === "";
            }

            verificarFiltro1();
            verificarFiltro2();

            filtro_rel_1.addEventListener("change", verificarFiltro1);
            filtro_rel_2.addEventListener("change", verificarFiltro2);
        });
    </script>

    <script>
        setTimeout(function() {
            $('#message_success').fadeOut('fast');
        }, 4000);
    </script>
{% endblock %}


