{% extends 'core/inicio.html' %}

{% load widget_tweaks %} 

{% block titulo %}
    <title>Listar Fichas</title>
{% endblock %}

{% block conteudo %}

    <h1>Ficha List</h1>

    <form method="get" action="{% url 'ficha-list' %}">
        <label for="municipio">Município</label>
        <select name="municipio" id="municipio">
            <option value="">--------</option>
            {% for m in municipios %}
                <option value="{{ m.id }}">{{ m.nome }}</option>
            {% endfor %}
        </select>

        <label for="receita">Receita</label>
        <select name="receita" id="receita">
            <option value="">--------</option>
            {% for r in receitas %}
                <option value="{{ r.id }}">{{ r.nome }}</option>
            {% endfor %}
        </select>

        <label for="ano">Ano</label>
        <select name="ano" id="ano">
            <option value="">--------</option>
            {% for a in anos %}
                <option value="{{ a.id }}">{{ a.nome }}</option>
            {% endfor %}
        </select>

        <button type="submit">Pesquisar</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>Município</th>
                <th>Receita</th>
                <th>Ano</th>
            </tr>
        </thead>
        <tbody>
            {% for ficha in object_list %}
            <tr>
                <td>{{ ficha.municipio }}</td>
                <td>{{ ficha.receita }}</td>
                <td>{{ficha.ano }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}