{% extends 'core/inicio.html' %}

{% load widget_tweaks %} 

{% block titulo %}
    <title>Cadastrar Ficha</title>
{% endblock %}

{% block conteudo %}
    <div>
        <form method="post">
            {% csrf_token %}

            <h1>Ficha</h1>

            {{ form.non_field_errors }}
            
            <label for="municipio">Município</label>
            {% render_field form.municipio id="municipio" name="municipio" %}

            <label for="receita">Receita</label>
            {% render_field form.receita id="receita" name="receita" %}

            <label for="ano">Ano</label>
            <!-- {% render_field form.ano id="ano" name="ano" %} -->

            <select name="ano" id="ano" required>
                <option value="">-------------</option>
                {% for a in anos %}
                    <option value="{{ a.pk }}" {% if a.pk|stringformat:"s" == request.GET.ano|stringformat:"s" %} selected {% endif %}>{{ a.nome }}</option>
                {% endfor %}
            </select>

            <h1>Valor Mês</h1>

            <label for="janeiro">Janeiro</label>
            <input type="text" id="janeiro" name="janeiro" class="valor_mes" maxlength="17" required value="{{ valor_mes_form.janeiro.value|default:'' }}">

            <label for="fevereiro">Fevereiro</label>
            <input type="text" id="fevereiro" name="fevereiro" class="valor_mes" maxlength="17" value="{{ valor_mes_form.fevereiro.value|default:'' }}">

            <label for="marco">Março</label>
            <input type="text" id="marco" name="marco" class="valor_mes" maxlength="17" value="{{ valor_mes_form.marco.value|default:'' }}">

            <label for="abril">Abril</label>
            <input type="text" id="abril" name="abril" class="valor_mes" maxlength="17" value="{{ valor_mes_form.abril.value|default:'' }}">

            <label for="maio">Maio</label>
            <input type="text" id="maio" name="maio" class="valor_mes" maxlength="17" value="{{ valor_mes_form.maio.value|default:'' }}">

            <label for="junho">Junho</label>
            <input type="text" id="junho" name="junho" class="valor_mes" maxlength="17" value="{{ valor_mes_form.junho.value|default:'' }}">

            <label for="julho">Julho</label>
            <input type="text" id="julho" name="julho" class="valor_mes" maxlength="17" value="{{ valor_mes_form.julho.value|default:'' }}">

            <label for="agosto">Agosto</label>
            <input type="text" id="agosto" name="agosto" class="valor_mes" maxlength="17" value="{{ valor_mes_form.agosto.value|default:'' }}">

            <label for="setembro">Setembro</label>
            <input type="text" id="setembro" name="setembro" class="valor_mes" maxlength="17" value="{{ valor_mes_form.setembro.value|default:'' }}">

            <label for="outubro">Outubro</label>
            <input type="text" id="outubro" name="outubro" class="valor_mes" maxlength="17" value="{{ valor_mes_form.outubro.value|default:'' }}">

            <label for="novembro">Novembro</label>
            <input type="text" id="novembro" name="novembro" class="valor_mes" maxlength="17" value="{{ valor_mes_form.novembro.value|default:'' }}">

            <label for="dezembro">Dezembro</label>
            <input type="text" id="dezembro" name="dezembro" class="valor_mes" maxlength="17" value="{{ valor_mes_form.dezembro.value|default:'' }}">
            
            <a href="{% url 'ficha-list' %}"><button type="button">Cancelar</button></a>
            <button type="submit">Enviar</button>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <!-- Importação para uso de maskMoney -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-maskmoney/3.0.2/jquery.maskMoney.min.js"></script>

    <script>
        $(document).ready(function() {
            // Aplicar máscara no campo de valor
            $('.valor_mes').maskMoney({
                prefix: 'R$ ', // Prefixo do valor
                allowNegative: false, // Permite valores negativos ou não
                thousands: '.', // Separador de milhares
                decimal: ',', // Separador decimal
                precision: 2, // Precisão (número de casas decimais)
                affixesStay: true // Símbolos prefixo/sufixo permanecem mesmo depois de editar o campo
            });
        });

        $('form').on('submit', function() {
            $('.valor_mes').each(function() {
                var unmaskedValue = $(this).maskMoney('unmasked')[0]; // Pegar o valor desmascarado (número puro)
                $(this).val(unmaskedValue); // Definir o valor sem máscara no input
            });
        });
    </script>
{% endblock %}