{% extends 'core/inicio.html' %}

{% load widget_tweaks %} 

{% block titulo %}
    <title>Cadastrar Ficha</title>
{% endblock %}

{% block conteudo %}
    <div>
        <form method="post">
            {% csrf_token %}

            <h1>Ficha</h1>
            <label for="municipio">Município</label>
            {% render_field form.municipio id="municipio" name="municipio" %}

            <label for="receita">Receita</label>
            {% render_field form.receita id="receita" name="receita" %}

            <label for="ano">Ano</label>
            {% render_field form.ano id="ano" name="ano" %}

            <h1>Valor Mês</h1>
            {{ valor_mes_form.as_p }}

            <button type="submit">Enviar</button>
        </form>
    </div>

    {{ form.non_field_errors }}
{% endblock %}